*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./view-adorable-3d-cats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Acme', sans-serif;
}

.texts{
    color: #000;

}