*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./view-adorable-3d-cats.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Acme', sans-serif;
}

.texts{
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.common{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 600px;
    gap: 20px;
}

.btn{
    background-color: transparent;
    border: 0.5px solid;
    border-radius: 50px;
    padding: 15px 25px;
    font-family: 'Acme', sans-serif;
    cursor: pointer;
    font-size: 20px;
}

.btn:hover{
    padding: 20px 30px;
    font-size: 25px;
}

.h3{
    font-size: 30px;
}

.h1{
    font-size: 40px;
    margin-left: 100px;
}

.newText{
    font-size: 20px;
    margin-top: 100px;
}